body{
    background-color: rgba(72, 130, 238, 0.603);
}
.window, .equation{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

.buttonlayout {
    height: 150px;
    width: 100px;
    border: 2px solid black;
}